.segment.masthead {
  padding: 3em 0;
}

// tags are in multiple places, but this is for react-tag-input
.ReactTags__suggestions {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  background-color: white;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      display: none;
    }

    li:first-child {
      display: block;
    }
  }
}

// for react-grid-layout in the template editor
.react-resizable-handle {
  display: block;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 10px;
  position: absolute;
  border-bottom: 1px dashed black;
  cursor: row-resize;
}
